# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Bimp2Asc/Bimp2Asc.opensdf
*.lastbuildstate
Bimp2Asc/Bimp2Asc/Debug/Bimp2Asc.log
*.cache
Bimp2Asc/Bimp2Asc/Debug/Bimp2Asc.write.1.tlog
